:root {
    --color-bg: #D5E1Ef;
    --color-qr-component-bg: #FFFFFF;
    --color-qr-component-title: #1F314F;
    --color-qr-component-description: #68778D;
}

body {
    background-color: var(--color-bg);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

.qr-code-component {
    font-family: 'Outfit';
    background-color: var(--color-qr-component-bg);
    padding: 1rem;
    width: 320px;
    border-radius: 16px;
}

.qr-code-component img {
    border-radius: 16px;
    max-inline-size: 100%;
}

.qr-code-component h2 {
    text-align: center;
    font-size: 22px;
    line-height: 120%;
    color: var(--color-qr-component-title);
    margin-inline: 1rem;
    font-weight: 700;
}

.qr-code-component p {
    text-align: center;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: var(--color-qr-component-description);
    margin-inline: 1rem;
    font-weight: 400;
}